<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>blog</title>
    <!-- <%~include('./head/head.ejs')%> -->
  </head>
  <body>
    <nav>
      <h1><%=blog.title%></h1>
      <ul>
         <li><a href="/">Anasayfa</a></li>
         <li><a href="/abaout">Hakkımızda</a></li>
         <li><a href="/login">Login</a></li>
      </ul>
   </nav>


   <section>
    <h1><%=blog.title%></h1>
    <p><%=blog.short%></p>
    <p><%=blog.long%></p>
   </section>
  </body>
</html>
